# Sauce Labs Configuration
SAUCE_USERNAME=your_sauce_username
SAUCE_ACCESS_KEY=your_sauce_access_key
SAUCE_TUNNEL_ID=your_tunnel_id

# App Configuration
APP_PACKAGE=app_package
APP_ACTIVITY=app_activity
BUNDLE_ID=app_bundle_id

# Test Configuration
PLATFORM=platform_name
ENV=saucelabs | local
TIMEOUT=60000 